#panel-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 18%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
}

.collapse-btn {
  align-self: center;
  padding: 6px 12px;
  background: transparent;
  width: 80%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#collapse-arrow {
  height: 1.7em;
  width: 1.7em;
  fill: #2c5177;
}
.collapse-btn .arrow_icon {
  transform: rotate(0);
  transition: ease 0.3s;
  transform-origin: center;
}
.collapse-btn.opened .arrow_icon {
  transform: rotate(180deg);
  transition: ease 0.3s;
}

#panel_container {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
#panel_container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scaleY(0);
  height: 80%;
  width: 1px;
  background-color: #ffffff31;
  transition: transform 0.5s;
}
#panel_container.active {
  max-height: 1000px; /* or something large enough */
  padding: 10px 20px;
}
#panel_container.active::before {
  transform: translateY(-50%) scaleY(1);
}

.flexRow {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: rgb(46, 53, 59);
}

.expansionField {
  padding: 6px;
  display: flex;
  flex-direction: column;
}

#extension_container ul {
  background-color: #1b1f23;
  margin: 20px 2px;
  padding: 0px 5px 10px 5px;
}

#company_container,
#title_container,
#location_container {
  border-bottom: solid 1px #ffffff80;
}
.header {
  display: block;
  padding: 0;
  color: #3d89bd;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: relative;
  caret-color: transparent;
}
label.header {
  margin-top: 3px;
}

label.header:hover {
  background-color: rgb(45, 53, 61);
  border-radius: 22px;
}

.result-value {
  font-size: 0.9em;
  color: #ffffffe6;
}

/* List Styles and Logic */

.expansionField .subheading {
  font-weight: bold;
  font-size: 1em;
  margin-top: 3%;
}

.subheading_span {
  margin-left: 10%;
  font-size: 0.8em;
}
.subList_container {
  margin-top: 2%;
}

.accordionList {
  display: grid;
  column-gap: 1px;
  row-gap: 1px;
  align-items: stretch;
  background-color: #346b91bd;
  list-style-type: none;
}
.accordionList li {
  padding: 6px;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.filler {
  pointer-events: none;
}

/*grid-columns*/
.one-col {
  grid-template-columns: 1, 1fr;
}
.two-col {
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
}
.three-col {
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
}

/* Skills */

.subList_container {
  border-bottom: solid 1px;
  background-color: rgb(0, 0, 0);
}
#general_sub-container {
  border-color: rgb(129, 199, 240);
}
#matching_sub-container {
  border-color: rgba(63, 218, 158, 0.81);
}
#missing_sub-container {
  border-color: rgb(207, 89, 20);
}

#general {
  color: rgb(129, 199, 240);
}
#matching {
  color: rgba(63, 218, 158, 0.81);
}
#missing {
  color: rgb(207, 89, 20);
}

#check {
  color: rgba(63, 218, 158, 0.81);
}
#cross {
  color: rgb(207, 89, 20);
}

#general_list {
  background-color: rgb(129, 199, 240);
  border-color: rgb(129, 199, 240);
}
#matching_list {
  background-color: rgba(63, 218, 158, 0.81);
  border-color: rgba(63, 218, 158, 0.81);
}
#missing_list {
  background-color: rgb(207, 89, 20);
  border-color: rgb(207, 89, 20);
}

.span_examples {
  color: rgba(255, 255, 255, 0.9);
  left: -10px;
}

/* Languages */
.subfield_name {
  font-size: 0.8em;
}
#languages_examples {
  font-size: 0.9em;
}

#languageAccordion .subList_container {
  border: none;
}

/*  Accordion styling & logic   */

.accordion_container {
  display: flex;
  gap: 15px;
  max-height: 0;
  flex-direction: column;
  padding-left: 10px;
  overflow: hidden;
  transition: max-height 0.1s ease-out, padding 0.3s ease-out;
}

.collapsed_results {
  margin: 0 1%;
}

.label_arrow {
  display: inline-block;
  transform: rotate(0deg);
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.1s ease;
}
/* Rotate arrow when checkbox is checked */
.header:has(+ .accordion_checkbox[type="checkbox"]:checked) .label_arrow {
  transform: translateY(-50%) rotate(90deg); /* Rotate 90 degrees clockwise */
}
/*Hide the in-label results when checked*/
.header:has(+ .accordion_checkbox[type="checkbox"]:checked) .collapsed_results {
  display: none; /* This will hide the entire subheading span */
}

/* When checked reveal content */
.accordion_checkbox[type="checkbox"]:checked ~ .accordion_container {
  max-height: 500px; /* Adjust this to a value larger than your content */
  padding-left: 10px;
}
